/*.AboutUsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.AboutUsSection img {
    height: 100%;
}*/


.s4{
    background-image: url("../imgs/S4/FondoAboutus.png");
    background-position: center;
    background-size: cover;
}
