/*.AboutUsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.AboutUsSection img {
    height: 100%;
}*/


.s4{
    background-image: url("../imgs/S4/backgroundAboutus.png");
    background-position: center;
    background-size: cover;
}

.s4 img {
    position: absolute;
    left: 7%;
    bottom: 5%;
    height: 83%;
}

.s4 .Hello{
    color:black;
    font-family: OriginTech;
    top: 30%;
    left: 10%;
    font-size: 133%;
    margin-right: 2%;
}

.s4 .text
{
    color: #FFF3E0;
    font-size: 85%;
    position: absolute;
    text-align: left;
    top: 25%;
    left: 50%;
    width: 45%;
    z-index: 3;
}
