.HeaderNavigation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width:100%;
	height:90px;
	top:0 px;
	position:absolute;
	z-index:999;
	background-color: rgb(255, 255, 255);
	/*opacity:0.8;*/
	padding-top: 10px;
}

.HeaderNavigation img{
    margin-bottom: 13px;
    margin-left: 20px;
}


.HeaderNavigation-Items {
    justify-content: space-around;
    font-size: 30px;
    width: 200px;
}

.HeaderNavigation-Items a{
    margin-right: 20px;
}

.HeaderNavigation-Items > span {
    cursor: pointer;
}