@font-face {
    font-family: "OriginTech";
    src: url("../Fonts/OriginTech_personal_use.otf");
}

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

html {
    font-family: Odibee Sans;
    z-index: 1;
    height: 100%;
    font-size: 50px;
    scroll-behavior: smooth;
}

.background {
    position: fixed;
    opacity: 0.2;
    z-index: -1;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

section {
    height: 100vh;
    position: relative;
    text-align: center;
}

.s1 {
    background-image: url("../imgs/Pushed01loadingscreen.png");
    background-size: cover;

}


.s1 h1{
    margin-left: 45%;
    margin-right: auto;

}

.s2{
    background-image: url("../imgs/orange_background.png");
    background-size: cover;
}

.s2 img{
    padding-right: 10%;
    max-width:100%;
    max-height: auto;

}

.s2 .Hello{
    font-family: OriginTech;
    top: 30%;
    left: 10%;
    font-size: 50px;
    margin-right: 2%;
}

.s2 .text{
    font-size: 30px;
    position: absolute;
    text-align: left;
    top: 40%;
    left: 10%;
    width: 45%;
}
