.s2{
    background-image: url("../imgs/S2/MacBook\ -\ 3.png");
    background-size: cover;
}

.s2 .algo{

    background-image: url("../imgs/HomunCulosBEBE.png");
    background-size: cover;
    height: 90%;
    position: absolute;
}

.s2 #triangle{
    /*max-width:100%;
    max-height: 70%;*/
    /*width: 90%;
    height: 50%;*/
    left: -5%;
    position: relative;
    z-index: 2;
}


.s2 #platform{
    /*max-width:100%;
    max-height: 100%;*/
    height: 100%;
    top: -0%;
    left: 0%;
    bottom: -10%;
    position: absolute;
    z-index: 1;
}

.s2 .Hello{
    font-family: OriginTech;
    top: 30%;
    left: 10%;
    font-size: 50px;
    margin-right: 2%;
}

.s2 .text{
    font-size: 30px;
    position: absolute;
    text-align: left;
    top: 30%;
    left: 40%;
    width: 45%;
    z-index: 3;
}