.s2{
    background-image: url("../imgs/S2/MacBook\ -\ 3.png");
    background-size: cover;
}

.s2 .Images :nth-child(1)
{
    position: absolute;
    left:0;
    z-index: 1;
}

.s2 .Images :nth-child(2)
{
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/HomunCulosBEBE.png");
    background-size: cover;
    z-index: 1;
}

.s2 .Hello{
    color:black;
    font-family: OriginTech;
    top: 30%;
    left: 10%;
    font-size: 133%;
    margin-right: 2%;
}

.s2 .text
{
    color: #FFF3E0;
    font-size: 85%;
    position: absolute;
    text-align: left;
    top: 25%;
    left: 53%;
    width: 45%;
    z-index: 3;
}