/*.RonnySection
{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.RonnySection > div > p {
    color: red;
    font-size: 150px;
    width: 200%;
    font-family: OriginTech;
}

.RonnySection div {
    display: flex;
    flex-direction: column;
    justify-content: end;
}*/


/*.s2{
    background-image: url("../imgs/S2/MacBook\ -\ 3.png");
    background-size: cover;
}*/



.s1{
    background-image: url("../imgs/BackgroundRonnyRect.png");
    background-size: cover;
}

.s1 #Ronny{
    position: absolute;
    right: 5%;
    bottom: 0%;
    height: 100%;
}


.s1 .Hello{
    color: black;
    font-family: OriginTech;
    top: 30%;
    left: 8%;
    font-size: 75px;
    margin-right: 2%;
}

.s1 .text{
    color: #FFF3E0;
    font-size: 50px;
    position: absolute;
    text-align: left;
    top: 35%;
    left: 8%;
    width: 45%;
}
